/* Basic Reset Styles */

/* Preferred box-sizing value */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" attribute is exclud, because otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */

*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Reapply the pointer cursor for anchor tags */

a, button {
    cursor: revert;
}

/* Header Section */

/* Set a maximum width for the header, main, and footer elements */

header, main, footer{
    max-width: 1920px;
}


/* Set the height and background properties for the header */

header{
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1595341888016-a392ef81b7de?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1479&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Style for SVG elements within the header */

header svg{
    width: 50px;
    height: 50px;
    fill: palevioletred;
}