:root {
  /* Color variables */
  --color-pink: #fa97b6;
  --color-white: #fff;
  --color-green: #4d5d45;
  --color-blue: #18a4bd;
  --color-black: #222;
}

@keyframes scroll {
  /* Animation keyframes for scrolling */
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset styles for the body element */
body {
  font-family: "Roboto Serif", serif;
  margin: 0;
  background-color: var(--color-black);
}

/* Reset styles for headings and paragraphs */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  overflow-wrap: break-word;
  margin: 0;
}

/* Style for images */
img {
  display: block;
  max-width: 100%;
}

/* Style for anchor links */
a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

/* Reset styles for the ordered and unordered lists */
ul {
  list-style: none;
  margin: 0;
}

/* Style for buttons */
button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
}

/* Set a maximum width for the header, main, and footer elements */
header,
main,
footer {
  max-width: 1920px;
  margin: 0 auto;
}
/* fixed logo Section */

#logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 2;
  padding-inline: 50px;
  color: var(--color-white);
}

#logo svg {
  fill: rgb(236, 236, 236);
  width: 155px;
}

/* Header Section */
/* Basic for the header */
header {
  position: relative;
  height: 100vh;
  text-align: center;
  display: block;
}

/* Style for the heading 1 within the header */
header h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-size: 8rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

/* Style for the image within the header */
header img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

/* Style for the heading 3 within the header */
header h3 {
  font-size: 18px;
  color: rgb(236, 236, 236);
}

/* Style for the scroll indicator within the header */

header .scroll {
  color: var(--color-white);
  position: absolute;
  bottom: 160px;
  left: 50%;
}

header .scroll div:nth-child(2) {
  transform: translateX(-50%);
  margin-top: 15px;
}

header .scroll .vertical-line {
  width: 1px;
  height: 50px;
  background-color: var(--color-white);
}

/* Main Section */

main {
  border-radius: 100px;
  margin-top: -100px;
  margin-bottom: -100px;
  position: relative;
  background-color: rgb(255, 255, 255);
  z-index: 1;
}

/* Styles for the pseudo-elements before and after the main section */
main::before {
  content: "";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  box-shadow: 0px -20px 25px 0px rgba(0, 0, 0, 0.3);
}

main::after {
  content: "";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  bottom: 0;
  left: 0;
  box-shadow: 0px 20px 25px 0px rgba(0, 0, 0, 0.3);
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

/* Style for the content container for the main section */

main > div {
  width: min(1400px, 90%);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding-block: 200px;
}

/* Style for the second section for the main content */

main section:nth-child(2) {
  width: min(650px, 100%);
  padding-bottom: 10px;
}

/* Grid Layout for main section */
main .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(50% - 50px), 1fr));
  column-gap: 50px;
  row-gap: 100px;
}

/* Style for the card within the main section */
main .card {
  width: 100%;
}

/* Style for the image within the card */
main .card img {
  display: block;
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

/* Style for the heading 4 within the card */
main .card h4 {
  color: var(--color-pink);
  margin-top: 55px;
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 600;
}

/* Style for the paragraph within the card */
main .card p {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4;
}

/* Style for the paragraphs within the main section */
main > div > p {
  font-size: 30px;
  line-height: 1.5;
  width: min(900px, 100%);
  color: var(--color-green);
  text-align: center;
  font-weight: 600;
  padding-bottom: 90px;
}

/* Styles for the unordered list within the main section */
main ul {
  display: flex;
  background-color: var(--color-blue);
  color: var(--color-white);
  align-items: center;
  border-radius: 50px;
  font-weight: 700;
  font-size: 18px;
  flex-wrap: wrap;
  justify-content: center;
  font-family: sans-serif;
  padding: 5px;
  gap: 10px;
}

/* Styles for the unordered list selected button within the main section */
.active {
  background-color: var(--color-black);
  border-radius: 20px;
}

/* Styles for the buttons within the unordered list */
main ul button {
  padding: 15px 25px;
  cursor: pointer;
}

/* Footer Section */

footer {
  position: relative;
}

/* Style for the footer-info container within the footer */
footer .footer-info {
  height: 500px;
  position: relative;
}

footer .footer-info div {
  position: absolute;
  bottom: 35px;
  color: var(--color-white);
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-inline: 260px;
}

footer .footer-info div nav {
  display: flex;
  gap: 15px;
}

/* Style for the image within the footer-info */
footer .footer-info img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Style for the heading 2 within the footer-info */
footer .footer-info h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-white);
  font-size: 8rem;
}

.marquees-wrapper {
  overflow: hidden;
}

.marquees-wrapper:hover ul {
  animation-play-state: paused;
}

/* Style for the marquee container */
.marquee {
  --gap: 100px;
  display: flex;
  gap: var(--gap);
  background: var(--color-blue);
  user-select: none;
  color: var(--color-white);
  padding-block: 50px;
  font-size: 2rem;
}

/* Style for the content within the marquee */
.marquee__content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  gap: 100px;
}

/* Animation for scrolling the marquee */
.scroll {
  animation: scroll 30s linear infinite;
}

/* Additional style for the second marquee */
.marquee-2.scroll {
  animation: scroll 25s linear infinite reverse;
}

.marquee-replacement {
  background-color: var(--color-black);
  color: var(--color-white);
  display: none;
}
.marquee-replacement ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  padding: 50px;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 20px;
}

/* Large Desktops and High-Resolution Screens */

@media screen and (max-width: 1599px) and (min-width: 1280px) {
  footer .footer-info div {
    padding-inline: 50px;
  }
}

/* Medium Desktops and Laptops */

@media screen and (max-width: 1279px) and (min-width: 0px) {
  .marquees-wrapper {
    display: none;
  }
  .marquee-replacement {
    display: block;
  }
  #logo {
    padding-top: 0px;
  }
  header h1,
  footer .footer-info h2 {
    font-size: 6rem;
  }
  main {
    border-radius: 50px;
  }
  main::before {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }
  main::after {
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }
  main > div {
    padding-block: 40px;
    gap: 40px;
  }
  main > div > p {
    padding-bottom: 0px;
  }
  main .grid {
    grid-template-columns: 100%;
  }
  main .card h4 {
    margin-block: 15px;
  }

  main .card p {
    font-size: 1.8rem;
  }
  footer .footer-info {
    height: 450px;
  }

  footer .footer-info div {
    padding-inline: 0px;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
    align-items: center;
  }
  footer .footer-info div nav {
    gap: 40px;
  }

  .marquee {
    font-size: 1.2rem;
    padding-block: 15px;
  }
}

/* Small Desktops and Laptops */

@media screen and (max-width: 1023px) and (min-width: 0px) {
}

/* Tablets responsive layout */

@media screen and (max-width: 767px) and (min-width: 0px) {
}

/* Mobile phones responsive layout */

@media screen and (max-width: 670px) and (min-width: 0px) {
  #logo {
    flex-direction: column;
  }
  header h1,
  footer .footer-info h2 {
    font-size: 2.5rem;
  }

  main > div > p {
    font-size: 1.1rem;
  }

  main .card p {
    font-size: 1.2rem;
  }

  main ul {
    gap: 0px;
    font-size: 1rem;
    border-radius: 0px;
    justify-content: flex-start;
  }

  main ul button {
    padding: 10px;
  }

  main ul li {
    flex-basis: 50%;
  }

  footer .footer-info div {
    font-size: 12px;
  }

  footer .footer-info div nav {
    flex-wrap: wrap;
  }

  .marquee-replacement ul li {
    flex-basis: 60%;
    text-align: center;
    border: 1px solid white;
    padding: 8px;
  }
}
