/* Basic Reset Styles */

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" attribute is excluded because otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */

*:where(
    :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
  ) {
  all: unset;
  display: revert;
}


:root {
  --color-pink: #fa97b6;
  --color-white: #fff;
  --color-green: #4d5d45;
  --color-blue: #18a4bd;
  --color-black: #222;
}
/* Preferred box-sizing value */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset styles for the body and html elements */

body,
html {
  font-family: "Roboto Serif", serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Reapply the pointer cursor for anchor tags */

a,
button {
  cursor: revert;
}

/* Reset styles for the ordered and unordered lists */

ol,
ul {
  list-style: none;
}

/* Header Section */

/* Set a maximum width for the header, main, and footer elements */

header,
main,
footer {
  max-width: 1920px;
}

/* Set the height for the header */

header {
  position: relative;
  height: 100vh;
  text-align: center;
}

/* Style for the heading within the header */

header h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-size: 8rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

/* Style for the SVG within the header */

header svg {
  fill: rgb(236, 236, 236);
  width: 155px;
}

/* Style for the image within the header */

header img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(0.8);
  position: absolute;
}

/* Style for the heading within the header */

header h3 {
  font-size: 2rem;
  color: rgb(236, 236, 236);
}

/* Style for the div within the header */

header div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  padding-inline: 50px;
  padding-top: 70px;
}

/* Main Section */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 200px 260px;
  border-radius: 100px;
  margin-top: -100px;
  position: relative;
  background-color: rgb(255, 255, 255);
  gap: 50px;
}

main::before {
  content: "";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  box-shadow: 0px -20px 25px 0px rgba(0, 0, 0, 0.3);
}

main::after {
  content: "";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  bottom: 0;
  left: 0;
  box-shadow: 0px 20px 25px 0px rgba(0, 0, 0, 0.3);
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

main > p{
  font-size: 1.5rem;
  line-height: 1.5;
  width: min(820px, 100%);
  color: var(--color-green);
  text-align: center;
}

main ul{
  display: flex;
  background-color: var(--color-blue);
  color: var(--color-white);
  align-items: center;
  gap: 60px;
  padding: 5px;
}
main ul button{
  padding: 15px;
}