
:root {
  --color-pink: #fa97b6;
  --color-white: #fff;
  --color-green: #4d5d45;
  --color-blue: #18a4bd;
  --color-black: #222;
}

/* Preferred box-sizing value */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset styles for the body and html elements */

body {
  font-family: "Roboto Serif", serif;
  margin: 0;
}

p,h1,h2,h3,h4,h5,h6{
  font-size: inherit;
  font-weight: inherit;
  overflow-wrap: break-word;
  margin: 0;
}

img{
  display: block;
  max-width: 100%;
}

/* Reset styles for the ordered and unordered lists */

ul {
  list-style: none;
}

button{
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
}

/* Header Section */

/* Set a maximum width for the header, main, and footer elements */

header,
main,
footer {
  max-width: 1920px;
}

/* Set the height for the header */

header {
  position: relative;
  height: 100vh;
  text-align: center;
  display: block;
}

/* Style for the heading within the header */

header h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-size: 8rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

/* Style for the SVG within the header */

header svg {
  fill: rgb(236, 236, 236);
  width: 155px;
}

/* Style for the image within the header */

header img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

/* Style for the heading within the header */

header h3 {
  font-size: 18px;
  color: rgb(236, 236, 236);
}

/* Style for the div within the header */

header div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  padding-inline: 50px;
  padding-top: 70px;
}

/* Main Section */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 100px;
  margin-top: -100px;
  margin-bottom: -100px;
  position: relative;
  background-color: rgb(255, 255, 255);
  gap: 50px;
  z-index: 1;
}

/* Grid Layout for main section */

main .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(50% - 50px), 1fr));
  column-gap: 50px;
  row-gap: 100px;
}

/* Style for the card within the main section */

main .card {
  width: 100%;
}

/* Style for the image within the card */

main .card img {
  display: block;
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

/* Style for the heading within the card */

main .card h4 {
  color: var(--color-pink);
  margin-top: 55px;
  margin-bottom: 25px;
}

/* Styles for the pseudo-elements before and after the main section */

main::before {
  content: "";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  box-shadow: 0px -20px 25px 0px rgba(0, 0, 0, 0.3);
}

main::after {
  content: "";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  bottom: 0;
  left: 0;
  box-shadow: 0px 20px 25px 0px rgba(0, 0, 0, 0.3);
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

/* Style for the paragraphs within the main section */

main > p {
  font-size: 30px;
  line-height: 1.5;
  width: min(900px, 100%);
  color: var(--color-green);
  text-align: center;
  font-weight: 600;
}

/* Styles for the unordered list within the main section */

main ul {
  display: flex;
  background-color: var(--color-blue);
  color: var(--color-white);
  align-items: center;
  gap: 25px;
  padding: 5px;
  border-radius: 50px;
  font-weight: 700;
  font-size: 18px;
  flex-wrap: wrap;
  justify-content: center;
}

main section:nth-child(2){
  width: min(610px, 100%);
  background-color: burlywood;
}

/* Styles for the buttons within the unordered list */

main ul button {
  padding: 15px;
  cursor: pointer;
}


footer{
  position: relative;
}

footer .footer-info{
  width: 100%;
  height: 500px;
  position: relative;
}

footer .footer-info img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer .footer-info h2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-white);
  font-size: 8rem;
}
